*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%; /* TODO: check whether to apply these to .pure-g-r .pure-u-1 */
	overflow-x: hidden;
}

body {
	background: #fff;
	margin: 0; /* chrome sets default margin 8px */
	padding: 0;
}

#layout,
#content,
#sidebar {
	font-family: 'Lato', Calibri, Arial, sans-serif; /* TODO: find out why font is not inheriting from body */
	font-weight: 300;
	line-height: 1.8;
}

#layout {
	padding-left: 200px; /* "left col (sidebar + content)" width */
	position: relative;
}

/* sidebar */
#sidebar {
	background: rgba(0, 0, 0, .6); /* should be same as #626262 */
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	margin-left: -200px;
	padding: 3em 20px 0 20px;
	overflow: auto;
	z-index: 10;
}
#badge {
	background: url(../img/profile-pic-small.jpg) no-repeat;
	width: 150px;
	height: 150px;
	margin: auto;
	-moz-border-radius: 150px;
	-o-border-radius: 150px;
	-webkit-border-radius: 150px;	
	border-radius: 150px;
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-o-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#nav {
	font-size: 1.2em;
	margin: 3em 0;
}
#sidebar ul {
	padding: 0;
	margin: auto;
	list-style: none;
}
#nav ul li {
	margin: .8em 0;
}
.link-selected:after {
	color: #fff;
	content: "\f0a9";
	float: right;
	font-family: FontAwesome;
	margin-left: .5em;
	text-decoration: inherit;
}
#sidebar a {
	display: block;
	text-decoration: none;
}
#sidebar a:hover,
#sidebar a:focus {
	text-decoration: none;
}
#sidebar a {
	color: #f3f3f3;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px solid #f3f3f3;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
}
#sidebar a:hover {
	border-color: #7EA7D8;
}
#social-buttons {
	text-align: center;
	margin-bottom: 3em;
}
#social-buttons li {
	display: inline-block;
	margin: 0 auto;
}
#social-buttons li:first-child {
	float: left;
}
#social-buttons li:last-child {
	float: right;
}
#social-buttons a {
	width: 42px;
	height: 42px;
	letter-spacing: 0;
	text-align: center;
}
#social-buttons i {
	vertical-align: middle;
	line-height: 42px;
}

/* sidebar toggle */
#sidebar-toggle {
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	position: fixed;
	top: 0px;
	left: -18px;
	width: 81px;
	height: 49px;
	margin: 1em 0;
	padding: 0;
	z-index: 9;
	display: none;
	-moz-transition: left .2s ease-in;
	-o-transition: left .2s ease-in;
	-webkit-transition: left .2s ease-in;
	transition: left .2s ease-in;
}
#sidebar-toggle:hover {
	left: 0px;
}
#sidebar-toggle i { /* size of <i> = 17*49 */
	margin-left: 48px;
	position: absolute;
	-moz-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear;
}
#sidebar-toggle i:first-child {
	opacity: 1;
}
#sidebar-toggle.open i:first-child {
	opacity: 0;
}
#sidebar-toggle i:last-child {
	opacity: 0;
}
#sidebar-toggle.open i:last-child {
	opacity: 1;
}

/* content container */
#content {
	background-color: white;
	font-size: 1.2em;
	padding: 0 3em;
	margin: 0 auto;
	max-width: 1000px;
}

/* page */
.page {
	background-color: white;
	position: relative; /* combine fixed position with min-height when changing transition mode later */
	margin: 2em 0;
}
.page ul {
	margin: 0;
}
.page h1 {
	float: right;
	font-weight: 300;
	font-size: 3em;
	margin: 0 0 1.5em 0;
	text-transform: uppercase;
	-moz-box-shadow: 0 12px 0 rgba(0, 0, 0, .1);
	-o-box-shadow: 0 12px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 12px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 12px 0 rgba(0, 0, 0, .1);
}
.page h2 {
	font-weight: 300;
	font-size: 1.5em;
	text-transform: uppercase;
}
.page a {
	background: #3D85C5;
	color: white;
	display: inline-block;
	line-height: 1.6em;
	margin: 0;
	padding: 0 .3em;
	text-decoration: none;
	position: relative;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
.page a:hover {
	background: #7EA7D8;
}
article {
	clear: both;
	margin: 6em 0;
}
article:last-child {
	margin: 6em 0 4em 0;
}
article *:first-child {
	margin-top: 0px;
}
article *:last-child {
	margin-bottom: 0px;
}
article pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
}
article code {
  font-size: 0.8em;
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
}
article pre code {
  border: none;
}
article pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
article pre.terminal code {
  background-color: #333;
}
#projects > article {
	padding: 1px 0 1px 1.2em; /* in order to accompany border-left */
	-moz-box-shadow: -8px 0 rgba(0, 0, 0, .1);
	-o-box-shadow: -8px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: -8px 0 rgba(0, 0, 0, .1);
	box-shadow: -8px 0 rgba(0, 0, 0, .1);
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.post-meta-data {
	padding: 0;
	display: inline-block;
	vertical-align: top;
	list-style: none;
}
.icons-ul > li {
	margin: .5em 0;
}
.date,
.read-time {
	color: #626262;
}
.date {
	margin-left: 1em;
	font-size: .5em;
	vertical-align: middle;
}
.read-time {
	font-size: .6em;
	vertical-align: bottom;
}
.icon-double-angle-right {
	margin: 0 .3em;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	#layout {
		padding: 0;
	}
	#sidebar {
		left: -200px;
		margin: 0;
	}
	#sidebar-toggle {
		display: block;
	}
	#sidebar-toggle.open {
		left: 0px;
	}
	#content {
		font-size: 1em;
	}

	/* Animation Starting Points */
	#sidebar,
	#content,
	#sidebar-toggle {
		-moz-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	/* Expanding Open Effect */
	#sidebar.open,
	#content.open,
	#sidebar-toggle.open {
		-moz-animation: open .3s ease-in-out;
		-o-animation: open .3s ease-in-out;
		-webkit-animation: open .3s ease-in-out;
		animation: open .3s ease-in-out;
		-moz-transform: translate3d(200px,0,0);
		-o-transform: translate3d(200px,0,0);
		-webkit-transform: translate3d(200px,0,0);
		transform: translate3d(200px,0,0);
	}

	/* Shrinking Close Effect */
	#sidebar.close,
	#content.close,
	#sidebar-toggle.close {
		-moz-animation: close .3s linear;
		-o-animation: close .3s linear;
		-webkit-animation: close .3s linear;
		animation: close .3s linear;
		-moz-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	
	@-moz-keyframes open {
		0%    {-moz-transform: translate3d(0,0,0);}
		100%  {-moz-transform: translate3d(200px,0,0);}
	}
	@-o-keyframes open {
		0%    {-o-transform: translate3d(0,0,0);}
		100%  {-o-transform: translate3d(200px,0,0);}
	}
	@-webkit-keyframes open {
		0%    {-webkit-transform: translate3d(0,0,0);}
		100%  {-webkit-transform: translate3d(200px,0,0);}
	}
	@keyframes open {
		0%    {transform: translate3d(0,0,0);}
		100%  {transform: translate3d(200px,0,0);}
	}

	@-moz-keyframes close {
		0%    {-moz-transform: translate3d(200px,0,0);}
		100%  {-moz-transform: translate3d(0,0,0);}
	}
	@-o-keyframes close {
		0%    {-o-transform: translate3d(200px,0,0);}
		100%  {-o-transform: translate3d(0,0,0);}
	}
	@-webkit-keyframes close {
		0%    {-webkit-transform: translate3d(200px,0,0);}
		100%  {-webkit-transform: translate3d(0,0,0);}
	}
	@keyframes close {
		0%    {transform: translate3d(200px,0,0);}
		100%  {transform: translate3d(0,0,0);}
	}
}

@media (max-width: 480px) {
	#nav {
		margin: 2em 0;
	}
	#content {
		padding: 0 1em;
	}
}

/*
@media (min-width: 767px) {
	#sidebar {
		width: 300px;
	}
	#layout {
		padding-left: -300px;
	}
}
*/