{% comment %}
TODO:
- SEO
- cross browsing check
- get domain mail?
- get content wrapper height 100% + css refactoring
{% endcomment %}
<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no, maximum-scale=1, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- facebook og meta tags -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://dhchoi.com/img/favicon-base.png">
  <meta property="og:site_name" content="{{ site.name }}">
  {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">{% endif %}
  <!-- favicon -->
  <link href="/img/favicon.png" type="image/png" rel="icon">
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" type ="text/css" rel="stylesheet">
  <!-- css bootstraps --> 
  <link href="//yui.yahooapis.com/pure/0.3.0/base-min.css" rel="stylesheet">
  <link href="//yui.yahooapis.com/pure/0.3.0/grids-min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <!-- custom css -->
  <link href="/css/main.css" rel="stylesheet">
  <!-- code syntax highlighting css -->
  <link href="/css/syntax.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44084704-1', 'dhchoi.com');
  ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="layout" class="pure-g-r" >
    <div id="sidebar" class="pure-u">
      <div id="badge"></div>
      <nav id="nav">
        <ul>
          <li><a href="/" {% if page.isHome %} class="link-selected" {% endif %}>home</a></li>
          <li><a href="/projects" {% if page.isProjects %} class="link-selected" {% endif %}>projects</a></li>
          <li><a href="/blog" {% if page.isBlog %} class="link-selected" {% endif %}>blog</a></li>
        </ul>
      </nav>
      <div id="social-buttons">
        <ul>
          <li><a href="http://www.linkedin.com/pub/dong-hyun-choi/23/7a2/10a" target="_blank"><i class="icon-linkedin icon-2x"></i></a></li><!-- 28*32 -->
          <li><a href="http://www.flickr.com/photos/100556466@N08/" target="_blank"><i class="icon-flickr icon-2x"></i></a></li><!-- 28*32 -->
          <li><script><!--
          document.write('<a href="mailto:' + 'andy.dh.choi' + '@' + 'gmail.com' + '">');
          //--></script><i class="icon-envelope-alt icon-2x"></i></a></l1><!-- 32*32 -->
        </ul>
      </div>
    </div>
    <div class="pure-u-1">
      <ul id="sidebar-toggle">
        <i class="icon-angle-right icon-3x"></i>
        <i class="icon-angle-left icon-3x"></i>
      </ul>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{{site.baseurl}}js/main.js"></script>
  {% if page.comments %}
  <script type="text/javascript">
  var disqus_shortname = 'dhchoi';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
  {% endif %}
</body>
</html>